# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Users/maria/Desktop/LS 2024/MTAA/U-Net/study
/Users/maria/Desktop/LS 2024/MTAA/U-Net/Carvana Image Masking
/Users/maria/Desktop/LS 2024/MTAA/U-Net/atempts